<div class="container  container-fluid mt-2 mb-3 sticky-top">
	<mat-toolbar class="" class="rounded-pill" color="primary">

		<div class="col-md-2" fxHide.gt-xs class="col">
			<button mat-icon-button (click)="onToggleSidenav()">
				<mat-icon>menu</mat-icon>
			</button>
		</div>

    <div class="col-md-1 m-2">
			<a mat-icon-button
        routerLink="/dashboard/inicio"
				routerLinkActive="active-link">
				<mat-icon>home</mat-icon>
			</a>
		</div>

    <div class="col-md-1 m-2">
			<a mat-icon-button

        routerLink="/dashboard/ventas"
				routerLinkActive="active-link">
				<mat-icon>shopping_cart</mat-icon>
			</a>
		</div>

		<div class="col-md-1 m-2">
			<a mat-icon-button
        matBadge="{{cantidad}}"
        matBadgeColor="warn"
        matBadgeOverlap="true"
        routerLink="/dashboard/ordenes"
				routerLinkActive="active-link">
				<mat-icon>list_alt</mat-icon>
			</a>
		</div>

    <div class="col-md-1 m-2">
			<a mat-icon-button
        routerLink="/dashboard/usuarios"
				routerLinkActive="active-link">
				<mat-icon>manage_accounts</mat-icon>
			</a>
		</div>

		<div class="col-md-1 m-2">
			<a>
				<img width="40" src="" class="rounded-circle" alt="photo-profile-google">
			</a>
		</div>

	</mat-toolbar>
</div>

