<br>
<br>
<div *ngIf="orders.length < 1" class="text-center">
  <h1> No tienes pedidos preparados</h1>
  <img
    class="img-fluid"
    src="https://st3.depositphotos.com/29688696/i/600/depositphotos_319933806-stock-illustration-empty-box-vector-icon-an.jpg"
    alt="">
</div>

<div *ngIf="this.orders.length > 0">
  <div *ngFor="let item of orders" class="container mb-md-1">

    <mat-accordion class="shadow-lg rounded">
      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="col-md-12">

              <mat-panel-title class="col-md-11">
                <span class="fw-lighter fst-italic text-white text-center rounded-pill m-1 col-md-4 col-sm-10 p-1" style="--bs-bg-opacity: .8;background-color: #3f51b5;"><b>{{ item.FechaInicio.toDate () | date: 'dd MMM yyyy' }}</b></span>

                <div *ngIf="item.estado == 'Preparado'" class="col-sm-1 text-end">
                  <mat-icon style="--bs-bg-opacity: .8;color: #3f51b5;">verified</mat-icon>
                </div>
              </mat-panel-title>

            <mat-panel-description class="col-md-1">

                  <p><b>{{ 'Q' + item.total.toFixed(2) }}</b></p>

            </mat-panel-description>

        </mat-expansion-panel-header>

          <div class="row text-center col-md-12">
            <p class="col-md-3 p-2 text-white rounded-pill m-1" style="--bs-bg-opacity: .8;background-color: #3f51b5;"><b>Id de orden:</b><br>{{ item.id }}</p>
            <p class="col-md-4 p-2 text-white rounded-pill m-1" style="--bs-bg-opacity: .8;background-color: #3f51b5;"><b>Dirección de entrega:</b><br>{{ item.Direccion }}</p>
            <p class="col-md-2 p-2 text-white rounded-pill m-1" style="--bs-bg-opacity: .8;background-color: #3f51b5;"><b>Hora de realización:</b><br>{{ item.FechaInicio.toDate () | date: 'hh:mm a' }}</p>
            <p class="col-md-2 p-2 text-white rounded-pill m-1" style="--bs-bg-opacity: .8;background-color: #3f51b5;"><b>Cliente:</b><br>{{ item.Cliente }}</p>
          </div>
      <hr>
          <div class="table-responsive text-center">
            <table class="table table-borderless">
              <thead>
                <tr class="table-borderless rounded-pill" style="--bs-bg-opacity: .8;background-color: #3f51b5;">
                  <th class="text-center text-white border-0">#</th>
                  <th class="text-center text-white border-0">Producto</th>
                  <th class="text-center text-white border-0">Cantidad</th>
                  <th class="text-center text-white border-0">Precio</th>
                  <th class="text-center text-white border-0">Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of item.products; let i = index" style="border-bottom: 1px solid #0003;">

                  <th>{{ i + 1 }}</th>
                  <td>{{ item.product.name }}</td>
                  <td *ngIf="item.unit == 1">{{ item.unit + ' unidad'}}</td>
                  <td *ngIf="item.unit > 1">{{ item.unit + ' unidades'}}</td>
                  <td>Q {{item.product.price_sale + '.00' }}</td>
                  <td>Q {{item.subtotal + '.00' }}</td>
                </tr>

              </tbody>
            </table>
          </div>
            <div class="row text-center w-100 col-md-12">
              <button (click)="UpdateStateOrder(item.id,'Entregado')" class="col-md-6 m-auto btn btn-success rounded-pill m-1">Marcar como entregado</button><br>
              <button (click)="UpdateStateOrder(item.id,'Cancelado')" class="col-md-6 m-auto btn btn-danger rounded-pill m-1">Marcar como cancelado</button>
            </div><hr>
      </mat-expansion-panel>
    </mat-accordion>

  </div>

</div>
