<div class="form-wraper">
  <div class="form-container card">
    <div class="form-header">
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png"  class="main-lock-icon" alt="">
    </div>



    <div class="form-footer">
        <button (click)="login()" mat-raised-button class="btn custom-btn">
            <mat-icon>input</mat-icon> Iniciar Sesión con Google
        </button>
        <i>
        <span class="text-center"><b>Nota: </b>Solo puedes acceder si tu correo esta registrado en la plataforma y tien autorización
        </span>
      </i>
    </div>

  </div>
</div>
