<div class="container">
  <h1 class="text-center">Inventario de productos</h1>
<hr>
<a routerLink="/dashboard/inventario/nuevo-producto" class="btn btn-success rounded-pill">
  Ingresar nuevo producto
  <mat-icon>add</mat-icon>
</a>

<div class="row col-md-6 col-sm-12 col-xl-6 m-auto">
  <app-search (search)="handleSearch($event)"></app-search>
</div>
<br>
</div>
<div class="table-responsive-sm text-center table-wrapper-scroll-y my-custom-scrollbar tabla-100">

  <table class="table mb-0">
  <thead class="text-white">
      <tr class="">
        <th scope="col encabezado">#</th>
        <th scope="col encabezado">Nombre</th>
        <th scope="col encabezado">Fecha vencimiento</th>
        <th scope="col encabezado">Fecha Ingreso</th>
        <th scope="col encabezado">Stock</th>
        <th scope="col encabezado">ventas</th>
        <th scope="col encabezado">Precio compra</th>
        <th scope="col encabezado">Precio venta</th>
      </tr>
  </thead>

  <tbody class="border-top-0">

    <tr *ngFor="let item of products | search:filtro_valor;
        let i = index"
        routerLink="ver-producto"
        [routerLink]="['/dashboard/inventario/producto', item.id]">

      <td scope="row">{{i+1}}</td>
      <td class="text-start">{{item.name}}</td>
      <td>{{item.expiration_date.toDate () | date: 'dd MMM yyyy'}}</td>
      <td>{{item.admission_date.toDate () | date: 'dd MMM yyyy'}}</td>
      <td *ngIf="item.stock > 0 && item.stock <2">{{item.stock + ' unidad'}}</td>
      <td *ngIf="item.stock > 1">{{item.stock + ' unidades'}}</td>
      <td>{{ item.sales }}</td>
      <td>{{'Q' + item.purchase_price.toFixed(2) }}</td>
      <td>{{'Q' + item.price_sale.toFixed(2) }}</td>
    </tr>

  </tbody>
</table>
</div>
