<div class="container">
  <div class="container text-center">
    <h1>{{this.product.name}}</h1><hr>
    <a class="btn btn-warning mx-2"><mat-icon>edit</mat-icon></a>
    <a class="btn btn-danger mx-2"><mat-icon>delete</mat-icon></a>
    <hr>
  </div>

  <div class= "row m-auto mb-2">

    <div #containerRef class="col-md-6 col-sm-12 shadow p-3 bg-body rounded m-auto text-center">
      <h3>Estadisticas del producto</h3>
          <ngx-charts-pie-grid

            [scheme]="colorScheme"
            [results]="estadisticas"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
            >
          </ngx-charts-pie-grid>
    </div>

    <div class="col-md-5 col-sm-12 m-auto shadow p-3  bg-body rounded">
        <div class="w-50 text-center m-auto mb-5">
          <h3>Imagen del producto</h3>
          <img
            class="img-fluid rounded-circle"
            src="{{this.product.image}}"
            alt="IMG_PRODUCT">
        </div>
    </div>

  </div>

  <div class="container shadow p-3 mb-5 bg-body rounded">

    <h1 class="text-center">Información General de producto</h1>
    <table class="table w-md-25">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Caracteristica:</th>
          <th scope="col">Valor:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><b>Precio de compra:</b></td>
          <td>{{ 'Q'+this.product.purchase_price.toFixed(2) }}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><b>Precio de venta:</b></td>
          <td>{{'Q'+this.product.price_sale.toFixed(2) }}</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td><b>Fecha de Ingreso:</b></td>
          <td>{{ this.product.admission_date.toDate() | date: 'dd MMM yyyy'}}</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td><b>Fecha de vencimiento:</b></td>
          <td>{{ this.product.expiration_date.toDate() | date: 'dd MMM yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
