<mat-card>
  <mat-card-title>Bienvenido a su Tienda de Conveniencia</mat-card-title>
  <img
    class="mt-3"
    mat-card-image
    src="../../assets/logos/logo.svg"
    alt="Photo of a Shiba Inu"
    height="250"
    width="350"
  />
  <mat-card-content>
    <mat-card class="example-card">
      <mat-card-title>Misión</mat-card-title>
      <mat-card-content>
        <p>Comercializamos todo tipo de artículos de consumo diario, para satisfacer la necesidad de nuestros clientes con productos de alta calidad, por medio de un servicio rápido y confiable.</p>  
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-title>Visión</mat-card-title>
        <mat-card-content>
          <p>Consolidarnos como la tienda preferida en la colonia, que efectúe tiempos cortos de entrega en los pedidos, sin descuidar los estándares de buena calidad en los productos, para cumplir las expectativas de todos nuestros clientes.</p>  
        </mat-card-content>
      </mat-card>
  </mat-card-content>
</mat-card>
